

* {
  padding: 0;
  margin: 0;
  }


body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify; 
  line-height: 1.6;
}

  
header {
margin: 0;
  color: rgb(70, 70, 70);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background-color: rgb(223, 223, 223);
  border-radius: 0px;}

  


nav {
  background-color: rgb(223, 223, 223);
  color: rgb(255, 255, 255);
  padding: 1%;
  font-size:small;
  text-align: center;
}


nav a {
  color: rgb(251, 251, 251);
  
}


button {
  color: rgb(8, 8, 8);
  background-color: rgb(201, 201, 201);
  font-size: small;
  text-decoration: black;
  border: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 2px;
  border-radius: 3px;
}


.card-container {
  display: grid;
  grid-template-columns: 1fr;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  padding: 8px;
  background-color: rgb(246, 243, 240);
  gap: 8px; }


.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow:hidden;
  padding: 10px;
  gap: 10px; }


.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px; }

/* Desktop View */
@media (min-width: 768px) {
    .card-container {
        grid-template-columns: 1fr 1fr;   /* 2 cards per row */
    } }


footer {
  background-color: rgb(246, 243, 240);
  padding: 5px;
  margin: 0; }


h3 {
  background-color: rgb(236, 236, 236);
  border-radius: 8px;
  padding: 5px; }


footer h3 {
  background-color: rgb(246, 243, 240); }

section p {
  text-indent: 40px;
  margin: 10px;
}

ul, ol {
  padding: 4%;
}
